# Core Libraries
requests
pandas
SQLAlchemy
python-dotenv
streamlit
plotly

# Common Dependencies
numpy
protobuf
typing_extensions
python-dateutil
pytz

# Virtual Environment Management (optional but recommended)
virtualenv==20.25.1
